.profile-avatar {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.profile-avatar img {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    margin-right: 10px;
}

.profile-avatar span {
    font-weight: 500;
}