/* 🌐 Estilos globales */
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: #f4f5f7;
  color: #333;
}

a {
  text-decoration: none;
  color: inherit;
}

* {
  box-sizing: border-box;
}